<%= render 'layouts/errors' %>

<%= form_for @user do |f| %>
  <%= f.label :name, 'Username:' %>
  <%= f.text_field :name, readonly: true %>
  <br>
  <%= f.label 'Number of favorites:' %>
  <%= @user.favorites.count %><br>
  <br><br>
  <p>Change Password</p>
  <%= f.label :password, 'New Password:' %><br>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, 'Confirm Password:' %><br>
  <%= f.password_field :password_confirmation %>
  <br>

  <%= f.label :old_password, 'Enter Old Password:' %><br>
  <%= f.password_field :old_password %><br>

  <%= f.submit 'Update' %>
  <br>
<% end %>
