<% if flash[:notice] %>
  <h4 class='message'><%= flash[:notice] %></h4>
<% else %>
  <br>
<% end %>

<h1><%= @game.name %></h1>

<% unless @user.games.include?(@game) %>
  <%= button_to "Favorite", favorites_path(game: @game), method: :post, class: 'ui primary basic button' %>
  <br>
<% else %>
  <%= button_to "Favorite", favorites_path(game: @game), method: :post, class: 'ui disabled button' %>
  <%= button_to "Remove", favorite_path(@favorite.id), method: :delete, class: 'ui secondary basic button' %>
<% end %>

<h3><%= @game.genre %> game released in <%= @game.release_year %> by <%= @game.publisher %> for the <%= @game.platform.split(', ').to_sentence %></h3>
<br>
<%= image_tag(@game.image) %>
<br>


<% if song = $songs.select {|song| @game.name.include?(song)}[0] %>
  <br>
  <%= audio_tag(song.downcase + ".mp3", controls: true) %>
<% end %>
